.intro {
  position: relative !important;
  margin-bottom: 177px;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 500px) {
    padding: 0px 0;
    gap: 0px;
    min-height: 388px;
  }
}

.p {
  animation: slide-up 0.5s linear;
}

@keyframes slide-up {
  from {
    transform: translate(0, 20px);
    display: none;
  }
  to {
    display: block;
    transform: translate(0, 0px);
  }
}
