.title {
  min-height: 280px;
  color: rgb(255, 255, 255);
  font-size: 6rem;
  font-family: Sekiro, sans-serif;
  box-sizing: border-box;
  line-height: 87px;

  @media (max-width: 780px) {
    font-size: 36px;
    line-height: 33px;
    min-height: 90px;
  }
  @media (max-width: 500px) {
    margin-left: 8px;
  }
}

.first {
  display: flex;
}
.last {
  display: flex;
}

.lastP1 {
  display: flex;
}

.lastP2 {
  margin-top: 7px;
  margin-left: 50px;
  display: flex;
  @media (max-width: 780px) {
    margin-top: 0;
    margin-left: 14px;
  }
}

.special {
  display: flex;
  align-items: center;
  margin-left: 12px;
  position: relative;
  margin-left:37px;
}

.specialContainer {
  align-items: center;
  display: flex;
}