.popup {
  overflow: hidden !important;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 999;
}

.popupWHITE {
  background: white;
}

.popupBLACK {
  background: black;
}

.inside {
  height: calc(100% - 204px);
  z-index: 999;
  div:first-child {
    border-top: 1px solid #282828;
  }
  div {
    font-family: "La Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    text-align: center;
    height: 51px;
    border-bottom: 1px solid #282828;
    a {
      user-select: none !important;
      color: #909096;
    }
  }
}

.insideWHITE {
  background-color: #060404;
}

.insideBLACK {
  background-color: rgb(29, 29, 29);
}

.logBLACK {
  color: white;
}

.logWHITE {
  color: black;
}

.title {
  font-family: Sekiro, sans-serif;
}

.paragraph {
  font-family: "La Sans", sans-serif;
}

.log {
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  span {
    font-size: 0.8rem;
  }
  h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.3rem;
  }
}

.logoStyleBLACK {
  color: #2255dc;
}

.logoStyleWHITE {
  color: #ff4500;
}

.logoStyle {
  font-size: 4rem;
  margin-top: 35px;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}
