.profile {
  margin-top: -10px;
  display: flex;
  align-items: center;
  width: 180px;
  height: 180px;
  margin-left: 10px;
  img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }
}

.profileTxt {
  margin-top: -7px;
  font-family: "La Sans", sans-serif;
  line-height: 1.5;
  font-size: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin-left: 7px;
}

.first {
  display: flex;
  margin-left: 7px;
}

.second {
  display: flex;
  margin-left: 10px;
}

.section {
  margin-top: -7px;
  font-size: 30px;
  font-family: Sekiro, sans-serif;
  display: flex;
}

.container {
  margin-top: 230px;
  position: relative;
}

.WHITE {
  color: black;
  font-family: "La Sans", sans-serif;
}

.sectionWHITE {
  color: #fd1056;
}

.sectionBLACK {
  color: #ff4500;
}
