.home {
  height: 100%;
  padding: 10px 20px;
  @media (max-width: 780px) {
    padding: 0;
  }
}

.spinner {
  min-height: 527px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50%;
  }
}

.html {
  // min-height: 593px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.body {
  // min-height: 527px;
}
