.container {
  position: absolute;
  bottom: -5.3rem;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.txt {
  font-size: 13.5px;
  font-family: "La Sans", sans-serif;
  color: #fff;
  padding: 4px;
  z-index: 900 !important;
  animation: bounce 1.4s infinite ease;
}

.right {
  right: -8px;
}

.left {
  left: -11px;
}

.arrow {
  margin-right: 4px;
  margin-top: 5px;
  padding: 5px;
  color: #fff;
  font-size: 13.5px;
  transform: translate(0, -3px);
}

@keyframes bounce {
  0% {
    transform: translate(0, 3px);
  }
  25% {
    transform: translate(0, -3px);
  }
  50% {
    transform: translate(0, 3px);
  }
  75% {
    transform: translate(0, -3px);
  }
  to {
    transform: translate(0, 3px);
  }
}
