.container {
  color: #c3073f;
  font-size: 4rem;
  font-family: Sekiro, sans-serif;

  @media (max-width: 780px) {
    font-size: 30px;
  }
}

.first {
  display: flex;
}

.second {
  display: flex;
  margin-left: 10px;
}

.section {
  display: flex;
}

.profile {
  display: flex;
  align-items: center;
  width: 180px;
  height: 180px;
  img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }
}

.profileTxt {
  font-family: Sekiro, sans-serif;
  font-size: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  // img {
  //   max-width: 306px;
  //   max-height: 306px;
  //   cursor: pointer;
  // }
  left: 0;

  div {
    max-width: 306px;
    max-height: 306px;
    width: 50%;
    @media (max-width: 500px) {
      max-height: 180px;
      min-width: 180px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  position: absolute;
}

.portfolioContainer {
  > section {
    > div {
      height: 280px;
    }
  }
  @media (max-width: 500px) {
    > section {
      > div {
        height: 540px;
      }
    }
  }
}
