body {
  background: #1d1d1d;
  overflow-x: hidden !important;
}

.App {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  outline: none;
  user-select: none;
}

* {
  transition: color ease 0.2s;
}
