body {
  background: #1d1d1d;
  overflow-x: hidden !important;
  transition: background ease 0.5s;
}

.App {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  outline: none;
  user-select: none;
}
