.button {
  user-select: none;
  color: #c3073f;
  font-size: 14px;
  letter-spacing: 4px;
  font-family: Sekiro, sans-serif;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
  max-width: 220px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  border: 1px solid #c3073f;
  cursor: pointer;
  letter-spacing: 3px;
  @media (max-width: 500px) {
    width: 143px;
    height: 35px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9px;
  }
}

.button:hover {
  transition: ease 0.5s all;
  background: #c3073f;
  color: black;
}
