.logoStyle {
  user-select: none;
  font-family: Sekiro, sans-serif;
  color: #c5d7e8;
  font-size: 6rem;
  animation: rotate 0.2s linear;
  @media (max-width: 700px) {
    font-size: 52px !important;
    position: absolute;
    animation: rotate 0.2s linear;
    top: -5px;
    left: -23px;
  }
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: rotate(-70deg);
    top: -6px;
    left: -41px;
  }

  50% {
    transform: rotate(-35deg);
  }
  100% {
    opacity: 1;
  }
}
