@font-face {
  font-family: La Belle Aurore;
  src: url("../../fonts/LaBelleAurore-Regular.ttf");
}

@font-face {
  font-family: La Sans;
  src: url("../../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Patua One;
  src: url("../../fonts/PatuaOne-Regular.ttf");
}
