.subTitle {
  font-size: 1rem;
  letter-spacing: 4px;
  display: block;
  color: #8d8d8d;
  font-family: "La Sans", sans-serif;
  user-select: none;
  @media (max-width: 500px) {
    margin-left: 10px;
  }
}
