.subTitle {
  font-size: 1.1rem;
  letter-spacing: 4px;
  display: block;
  font-family: Sekiro, sans-serif;
  user-select: none;
  @media (max-width: 500px) {
    margin-left: 10px;
  }
}

.subTitleWHITE {
  color: black;
  font-weight: bold;
}

.subTitleBLACK {
  color: #8d8d8d;
}
